html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.body {
  display: block;
}

.input_container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.text_content {
  width: 90%;
  height: 60%;
  border: solid 1px green;
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

.text_content table {
  width: 100%;
  font-family: Arial, sans-serif;
}

.text_content th, .text_content td {
  min-width: 20px;
  padding: 10px;
  font-size: 14px;
}

.text_content tr {
  height: 50px;
}

.text_content tr:nth-child(even){background-color: #f2f2f2;}

.text_content tr:hover {background-color: #ddd;}

.text_content tr:first-child{
  font-weight: bolder;
  text-align: center;
  background-color: rgb(8, 160, 8);
}

.page_button {
  margin-top: 20px;
  background-color: rgb(8, 160, 8);
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 0;
}

.page {
  margin: 10px;
}

.input_excel {
  margin: auto;
  margin-top: 20px;
  align-self: center;
}

.parse_button {
  margin: auto;
}

#drop_zone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  min-width: 400px;
  min-height: 200px;
  text-align: center;
  color: #0087F7;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.5);
}


.button {
  background-color: #007BFF;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.hidden {
  display: none;
}

.progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; /* Full width */
  background-color: #ddd; /* Light grey background */
  padding: 1px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
}

.progress-bar {
  height: 20px; /* Specify the height of the bar */
  background-color: #4CAF50; /* Green background */
  width: 0%; /* Initial width of 0% */
  border-radius: 1px; /* Rounded corners */
  text-align: center; /* Center the text (if any) inside the bar */
  color: white; /* White text color */
  line-height: 20px; /* Center text vertically */
}
